<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auth_service</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="style/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div id="header"></div>
    <div id="main" class="container content"></div>
    <script id="headerTemplate" type="text/template">
        <div class="container">
            <div class="navbar-header">
                <!-- <img class="navbar-brand header_logo" src="images/Komunikator2.png"> -->
            </div>
            <button type="button" class="btn btn-default pull-right logout hidden">Выйти</button>
        </div>
    </script>
    <script id="userRowTemplate" type="text/template">
        <td class="table_login"><%= login %></td>
        <td><%= email %></td>
        <td><%= name %></td>
        <td><%= customer.name %></td>
        <td><%= app.name %></td>
        <td><%= group.name %></td>
        <td><%= role.name %></td>
        <td class="text-center"><button class="btn btn-sm btn-primary edit">Редактировать</button></td>
        <td class="text-center"><button class="btn btn-sm btn-danger delete">Удалить</button></td>
    </script>
    <script id="modalUserFormTemplate" type="text/template">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalLabel">Форма пользователя</h4>
              </div>
              <div class="modal-body">
                <% if (typeof(id) !== "undefined") { %>
                    <label for="userFormLogin">Логин</label>
                    <input type="text" id="userFormLogin" class="form-control" placeholder="Логин" value="<%= login %>" required autofocus>
                    <label for="userFormPassword">Пароль</label>
                    <input type="password" id="userFormPassword" class="form-control" placeholder="Пароль" value="<%- atob(encryptedPassword) %>" required>
                    <label for="userFormEmail">Email</label>
                    <input type="email" id="userFormEmail" class="form-control" placeholder="Email" value="<%= email %>">
                    <label for="userFormName">Имя</label>
                    <input type="text" id="userFormName" class="form-control" placeholder="Имя" value="<%= name %>" required>
                <% } else { %>
                    <label for="userFormLogin">Логин</label>
                    <input type="text" id="userFormLogin" class="form-control" placeholder="Логин" value="" required autofocus>
                    <label for="userFormPassword">Пароль</label>
                    <input type="password" id="userFormPassword" class="form-control" placeholder="Пароль" value="" required>
                    <label for="userFormEmail">Email</label>
                    <input type="email" id="userFormEmail" class="form-control" placeholder="Email" value="">
                    <label for="userFormName">Имя</label>
                    <input type="text" id="userFormName" class="form-control" placeholder="Имя" value="" required>
                <% } %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success save">Сохранить</button>
              </div>
            </div>
          </div>
    </script>
    <script id="customerRowTemplate" type="text/template">
        <td class="table_login"><%= login %></td>
        <td><%= customer.name %></td>
        <td><%= app.name %></td>
        <td><%= group.name %></td>
        <td><%= role.name %></td>
        <td class="text-center"><button class="btn btn-sm btn-primary edit">Редактировать</button></td>
        <td class="text-center"><button class="btn btn-sm btn-danger delete">Удалить</button></td>
    </script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/main.js"></script>
</body>
</html>